@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Arvo', serif;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
}

.heading{
  font-size: 3rem;
  position: relative;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.clock{
  margin-top: 20px;
  width: 450px;
  height: 450px;
  background-image: url(images/clock.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.clock .hour, .clock .min, .clock .sec{
  position: absolute;
}

.clock .hour, .hr{
  width: 160px;
  height: 160px;
  /* transform: rotateZ('0deg'); */
}

.clock .min, .mn{
  width: 190px;
  height: 190px;
  /* transform: rotateZ('480deg'); */
}

.clock .sec, .sc{
  width: 230px;
  height: 230px;
  /* transform: rotateZ('180deg'); */
}

.hr, .mn, .sc{
  position: absolute;
  display: flex;
  justify-content: center;
}

.hr::before{
  content: "";
  position: absolute;
  width: 6px;
  height: 80px;
  background: #494c97;
  border-radius: 6px 6px 0 0;
  z-index: 10;
}

.mn::before{
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #feff00;
  border-radius: 6px 6px 0 0;
  z-index: 11;
}

.sc::before{
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  z-index: 12;
}